<h1>Editing Book</h1>
<%= form_with model:@book, url:"/books/#{@book.id}", local:true do |f| %>
  <% if @book.errors.any? %>
  <%= @book.errors.count %>error
  <% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

  <h6>title</h6>
  <%= f.text_field :title %>
  <h6>body</h6>
  <%= f.text_area :body %>
  <%= f.submit 'Update Book' %>
  <%= link_to "Show", book_path(@book.id) %>
  <%= link_to "Back", books_path %>
<% end %>
